@media (min-width: 769px) {
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;
        align-items: flex-start;
    }
    
    .product {
        width: 32%;
    }

    .product:nth-child(3n+2) {
        margin-left: 20px;
        margin-right: 20px;
    }

    .product__footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}