.container {
  width: 100%; /* Измените свойство width для блока с классом container так, чтобы элемент занимал всю доступную ширину родительского элемента. */
  min-width: 1024px; /*Ограничьте ширину блока с классом container так, чтобы минимальная ширина блока равнялась 1024px, а максимальная — 1280px.*/
  max-width: 1280px;
}
.header {
  min-width: 1024px; /*Переопределите значение минимальной ширины для блока с классом header.*/
}